@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-rgb: 0, 0, 0;
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 253, 253, 253;
    --background-end-rgb: 0, 0, 0;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


.loader-page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out;
    position: absolute;


    .loader-wrapper {
        position: relative;
        height: 11em;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .overflow-box {
            position: absolute;
            width: 250px;
            height: 8em;
            opacity: 0.9;
            background-color: #ffffff;
            transition: ease-in;
            animation: overflowBoxAnimation 1.6s ease-in-out infinite;
        }

        .loader {
            font-size: 5em;
            /* animation: loaderAnimation 2s ease-in-out infinite; */
        }
    }
}


@keyframes overflowBoxAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(-100px);
        opacity: 0.4;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes logoAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loaderAnimation {
    0% {
        scale: 0.5;
    }

    100% {
        scale: 1;
    }
}


@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}


.truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate-text-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description-font * {
    font-size: 13px;
    font-weight: 400;
    /* Set to your desired font size */
}